body {
	background: cornsilk;
	font-family: sans-serif;
}

.add-note {
	background: fdfdfd;
	border: 1px solid #ccc;
}

.notes {
	margin: 0.5em;
	padding-left: 0;

	max-width: 10em;
	list-style: none;

}

.note {
	margin-bottom: 0.5em;
	padding: 0.5em;

	background-color: #fdfdfd;
	box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}
.note:hover {
	box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);
	
	transition: 0.6s;
}

.note .task {
	display: inline-block;
}

.note .delete-note {
	float: right;
	padding: 0;

	background-color: #fdfdfd;
	border: none;
	cursor: pointer;
	visibility: hidden;

}

.note:hover .delete-note {
	visibility: visible;
}